<div>
  <h3>Votre panier</h3>
  <div>
    <ion-list lines="inset">
      <ion-item-sliding *ngFor="let commande of commandes">
      <ion-item>
        <ion-label>{{ commande.platid ? getLibellePlatById(commande.platid) : '' }} x {{ commande.quantite }} </ion-label>
        {{ calculeTotalLigne(commande) }} xpf
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateCommentaire(commande)">Modifier coms</ion-item-option>
        <ion-item-option color="danger" (click)="retirer(commande)">Retirer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
  </div>
  
  <h4 style="text-align: right; padding-right: 2%;">Total : {{ calculeTotal() }} xpf</h4>

  <div class="button" style="display: flex; flex-direction: column;">
    <div>
      <ion-button color="primary" (click)="fermer()"><< Revenir au menu</ion-button>
    </div>
    <div style="display: flex;">
      <ion-button color="warning" (click)="chooseModeReglement()">Régler</ion-button>
      <ion-button color="warning" (click)="valider()">Valider</ion-button>
    </div>
  </div>

</div>