<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Commande à régler</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-select aria-label="Table" interface="popover" placeholder="Tables" (ionChange)="tableSelected($event)">
        <ion-select-option value="all">Toutes</ion-select-option>
        <ion-select-option *ngFor="let table of tables" value="{{table}}">{{ table }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list lines="inset">
    <ion-item-sliding *ngFor="let commande of commandes">
    <ion-item>
      <ion-label>Table n°{{ commande.numeroTable }} - {{ commande.platid ? getLibellePlatById(commande.platid) : '' }} x {{ commande.quantite }} </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="regler(commande)">Régler</ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="passerEtapePreparation(commande)">Préparation</ion-item-option>
      <ion-item-option color="tertiary" (click)="passerEtapeLivraison(commande)">Livraison</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
