<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Commande à régler</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-select aria-label="Table" interface="popover" placeholder="Filtrer par numéro de table" (ionChange)="tableSelected($event)">
        <ion-select-option value="all">Toutes</ion-select-option>
        <ion-select-option *ngFor="let table of tables" value="{{table}}">{{ table }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list lines="inset">
    <ion-item-sliding *ngFor="let commande of commandes">
    <ion-item >
      <ion-checkbox style="margin-right: 10px;" (ionChange)="commandeARegler($event,commande)"></ion-checkbox> 
      <ion-label> Table n°{{ commande.numeroTable }} - {{ commande.platid ? getLibellePlatById(commande.platid) : '' }} x {{ commande.quantite }} </ion-label>
      <ion-icon (click)="voirCommentaire(commande)" name="newspaper-outline" *ngIf="commande.commentaire !== ''"></ion-icon>
      <ion-icon (click)="voirCommentaire(commande)" name="book-outline" *ngIf="commande.commentairePreparateur !== ''"></ion-icon>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="regler(commande)">Régler</ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="passerEtapePreparation(commande)">Préparation</ion-item-option>
      <ion-item-option color="tertiary" (click)="passerEtapeLivraison(commande)">Livraison</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  
  <ion-list *ngIf="this.ARegler.length > 0">
    <h4>Total à payer : {{ totalFacture }} XPF</h4>
    <h4>Total réglé : {{ totalReglement }} XPF</h4>
    <h4>Reste à payer : {{ totalFacture -  totalReglement }} XPF</h4>
    <br>
    <span *ngIf="this.detailReglements.length > 0">
      Détail des règlements effectués : 
      <ion-item-sliding *ngFor="let detailReglement of detailReglements">
        <ion-item>
          <ion-label>- {{ detailReglement.modeReglement }} : {{ detailReglement.montant }} XPF</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" style="background: red;">Retirer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </span>
  </ion-list>
  
  <div class="button-container">
    <ion-button [disabled]="totalFacture !== totalReglement || totalFacture === 0" (click)="reglerMultiCommande()" color="primary">Finaliser</ion-button>
    <ion-button [disabled]="ARegler.length === 0 || totalFacture === totalReglement" (click)="chooseModeReglement()" color="primary">Régler</ion-button>
  </div>

</ion-content>
