.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px; /* Ajoutez une marge supérieure pour l'espace entre les boutons et le contenu précédent si nécessaire */
}

ion-button {
  margin-left: 10px; /* Ajoutez une marge entre les boutons si nécessaire */
}

.detail-paiement{
  text-align: right;
  padding-right: 5%;
}

.button-container {
  position: relative;
  margin-top: 20px; /* Ajoutez une marge supérieure pour l'espace entre les boutons et le contenu précédent si nécessaire */
}

.horizontal-buttons {
  display: flex;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}

ion-button {
  margin-left: 10px; /* Ajoutez une marge entre les boutons si nécessaire */
}

/* Media query pour les écrans de petite taille, par exemple les téléphones */
@media screen and (max-width: 768px) {
  .horizontal-buttons {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-right: 10px;
  }
}
