<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Commande clôturée</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    <!-- Parcourir chaque groupe de commandes -->
    <ng-container *ngFor="let keyValuePair of commandesRegroupees | keyvalue; let index = index">
      <ion-item-divider color="light">Groupe paiement : {{ index + 1 }}</ion-item-divider>
      <!-- Parcourir les commandes de ce groupe -->
      <ion-item-sliding *ngFor="let commande of keyValuePair.value">
        <ion-item (click)="voirReglements(commande)">
          <ion-label>
            {{ commande.numeroTable === 'comptant' ? commande.nomClientComptant : 'Table n°' + commande.numeroTable }} - {{ commande.platid ? getLibellePlatById(commande.platid) : '' }} x {{ commande.quantite }}
          </ion-label>
          {{ getPrixByPlatId(commande.platid) }} XPF
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="passerEtapeNonRegle(commande)">Non régler</ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="passerEtapePreparation(commande)">Préparation</ion-item-option>
          <ion-item-option color="tertiary" (click)="passerEtapeLivraison(commande)">Livraison</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
