<form [formGroup]="formgroup" (ngSubmit)="valider()">
  
  <h3>Mettre à jour un plat</h3>

  <ion-item>
    <ion-input label="Intitulé" formControlName="intitule" labelPlacement="floating" placeholder="Enter text"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-input label="Description" formControlName="description" labelPlacement="floating" placeholder="Enter text"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-input label="Prix" formControlName="prix" labelPlacement="floating" placeholder="Enter text"></ion-input>
  </ion-item><br>

  <ion-item>
    <ion-select formControlName="famille"  aria-label="Famille" interface="popover" placeholder="Famille" style="width: 10%;">
      <ion-select-option *ngFor="let famille of familles" value="{{ famille.libelle }}">{{ famille.libelle }}</ion-select-option>
    </ion-select>
    <ion-fab-button size="small">
      <ion-icon (click)="postFamille()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-item>



  <ion-checkbox labelPlacement="end" formControlName="isActif"> Actif </ion-checkbox>

  <div>
    <ion-button color="danger" (click)="annuler()">Annuler</ion-button>
    <ion-button color="primary" type="submit">Valider</ion-button>
  </div>

</form>