<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Prise de commande comptoir</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label (click)="nomClientComptant()" style="cursor: pointer;">
        <h2>==> Client COMPTANT <==</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let table of tables">
      <ion-label (click)="navitageToPriseDeCommande(table.numero)" style="cursor: pointer;">
        <h2>Table n°{{ table.numero }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="button-add-table">
    <ion-button color="warning" (click)="nomClientComptant()">Commande client comptant</ion-button>
  </div>
</ion-content>
