// .button-add-table {
//     position: relative;
//     width: 100%;
//     height: 100%;
//   }
  
//   ion-button {
//     position: fixed;
//     bottom: 30px;
//     right: 10px;
//   }

  .button-container {
    position: fixed;
    bottom: 20px; /* Ajustez la valeur selon votre préférence */
    right: 20px; /* Ajustez la valeur selon votre préférence */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .button-container ion-button {
    margin-top: 10px; /* Espacement entre les boutons */
  }
  