<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Préparation</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    <ion-item-sliding *ngFor="let commande of commandes">
      <ion-item (click)="voirCommentaire(commande)">
        <ion-checkbox style="margin-right: 10px;" [checked]="commandeSelectionnee(commande)" (ionChange)="CommandeALivrer($event,commande)"></ion-checkbox> 
      <ion-label>{{ commande.numeroTable === 'comptant' ? commande.nomClientComptant : 'Table n°' + commande.numeroTable }} - {{ commande.platid ? getLibellePlatById(commande.platid) : '' }} x {{ commande.quantite }} </ion-label>
      <ion-icon name="newspaper-outline" *ngIf="commande.commentaire !== ''"></ion-icon>
      <ion-icon name="book-outline" *ngIf="commande.commentairePreparateur !== ''"></ion-icon>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="commentairePreparateur(commande)">Commenter</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="terminer(commande)">Terminer</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <div class="button-container">
    <ion-button color="dark" [disabled]="commandes.length === 0" (click)="toutSelectionnerDeselectionner(isToutSelectionner)">{{ isToutSelectionner ? 'Tout sélectionner' : 'Tout déselctionner' }}</ion-button>
    <ion-button color="success" [disabled]="ALivrer.length === 0" (click)="terminerMultiple()">Livraison >></ion-button>
  </div>
</ion-content>
