.button-add-table {
    position: relative;
    width: 100%;
  }
  
  .post-table {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  
  @media screen and (max-width: 768px) {
      ion-button {
          right: 10px;
    }

}

table{
  border-collapse: collapse;
  margin: auto;
  margin-top:40px;
  margin-bottom:40px;
}

th, td{
  border: 1px solid black;
  background: green; color: black;
  padding: 10px;
  width: 100px; height: 100px; line-height: 100px;
  text-align: center;
}